<%= turbo_frame_tag "modal" do %>
<% content_for :title, "Adicionar tarefa" %>

<div class='modal fade' id="add_task_modal" tabindex="-1" data-controller='modal'>
<div class="modal-dialog " role="dialog" aria-modal="true" aria-hidden="false">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Adicionar tarefa</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= render "form", task: @task, action_name: 'Adicionar' %>
    </div>
  </div>
</div>
</div>

<% end %>


