<div id="<%= dom_id task_check %>">
  <p>
    <strong>Description:</strong>
    <%= task_check.description %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= task_check.complete %>
  </p>

</div>
