<div id="<%= dom_id purchase %>">
  <p>
    <strong>Name:</strong>
    <%= purchase.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= purchase.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= purchase.due_date %>
  </p>

</div>
