<% content_for :title, "Nova lista de compras" %>

<div>
  <%= link_to "Voltar para minhas listas", purchases_path, class: 'btn btn-secondary' %>
</div>

<br>

<h1>Nova compra</h1>

<%= render "form", purchase: @purchase, action_name: 'Criar' %>


