<p style="color: green"><%= notice %></p>

<% content_for :title, "Task lists" %>

<h1 class='display-3'>Minhas listas</h1>

<div class="task-list gap-4 min-vh-100 d-flex flex-column">
  <% @task_lists.each do |task_list| %>
    <div class='card card-task-list p-4 d-flex flex-row align-items-center'>
    <%= render partial: "task_list_preview", locals: { task_list: task_list, action_name: 'Criar' } %>
    <p>
      <%= link_to "Ver detalhes", task_list, class: 'btn btn-info'%>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "Adicionar lista de tarefas", new_task_list_path, class: 'btn btn-secondary' %>
