<% content_for :title, "New task list" %>

<div class='task-list d-flex flex-column container-lg'>
<h1>Nova lista de tarefas</h1>

<%= render "form", task_list: @task_list, action_name: "Criar" %>

<br>

<div>
  <%= link_to "Voltar para minhas tarefas", task_lists_path %>
</div>

</div>
